<h1> Currency pairs </h1>

<p> Go <a href= "/"> back </a>. </p>

<%=# @symbols_hash %>

<p>
  <ul>
    <% @array_currencies.each do |currency|  %>
    <li>
      <a href="/forex/AED"> Convert 1 AED to... </a>
    </li>
    <% end %>


  </ul>
</p>