<h1> Convert <%= @first_currency %> </h1>

<p> Go <a href = "/forex"> back</a>. </p>

<p>
  <ul>
    <% @array_currencies.each do |second_currency| %>
      <li> Convert 1 <%= @first_currency%> to <%= second_currency %>... </li>

    <% end %>
  
  </ul>
</p>